.service-card-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: normal;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .service-card-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.service-card {
  background: transparent;
  border-radius: 15px;
  width: 220px;
  padding: 1.5rem;
  color: #e0e0e0;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.service-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.icon img {
  font-size: 2rem;
  background: transparent;
  filter: brightness(0) saturate(100%) invert(86%) sepia(1%) saturate(48%) hue-rotate(13deg) brightness(96%) contrast(89%);
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media (max-width: 767px) {
  .icon img {
    width: 30px;
    height: 30px;
  }
}

.service-card h3 {
  margin: 0;
  font-weight: 600;
}

.service-card p {
  color: #e0e0e0;
  margin: 0;
}

.view-btn {
  margin-top: auto;
  color: #1abc9c;
  text-decoration: none;
  padding-top: 0.5rem;
  transition: color 0.3s ease;
}

.view-btn:hover {
  color: #e0e0e0;
}