.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  z-index: 1;
  width: 100%;
  min-height: 100vh;
}

.hero-section {
  text-align: center;
}