.ribbon {

  display: inline-block;
  width: 6rem;
  height: 4.5rem;
  padding-top: 1.5rem;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.4;

  border-radius: 6px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);

  margin: 30px auto;
  position: relative;
  transform: translate3d(0, 0, 0);
}


.ribbon:nth-child(2),
.ribbon:nth-child(7) {
  width: 7rem;
}

.ribbon:nth-child(3),
.ribbon:nth-child(4),
.ribbon:nth-child(5) {
  width: 8rem;
}

.ribbon:nth-child(6) {
  width: 9rem;
}

.ribbon::after {
  content: "";
  width: 0;
  height: 0;
  border-right: 3rem solid transparent;
  border-left: 3rem solid transparent;
  border-top: 1.5rem solid #CCCCCC;
  position: absolute;
  top: 5rem;
  left: 0;
}

.ribbon:nth-child(2)::after,
.ribbon:nth-child(7)::after {
  border-left: 3.5rem solid transparent;
  border-right: 3.5rem solid transparent;
}

.ribbon:nth-child(3)::after,
.ribbon:nth-child(4)::after,
.ribbon:nth-child(5)::after {
  border-left: 4rem solid transparent;
  border-right: 4rem solid transparent;
}

.ribbon:nth-child(6)::after {
  border-left: 4.5rem solid transparent;
  border-right: 4.5rem solid transparent;
}


.ribbon.ribbon-badge {
  background: linear-gradient(to bottom, #232323 0%, #959595 100%)
}

.ribbon.ribbon-badge::after {
  border-top: 1.5rem solid #a0a0a0;
}