
.cards-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}

.card-stack-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 80%;
  height: 30vh;
}

@media (max-width: 768px) {
  .card-stack {
    height: 35vh;
  }
  .card-stack-wrapper{
  flex-wrap: wrap;
}
}

.card-stack p{
    font-weight: 600;
    color: #111;
}

.card-stack:nth-child(1) {
  top: 80px; /* (2 * 20px) + 40px */
  margin-left: 0px; /* 2 * 30px */
  /* background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 111, 51, 1) 78%, rgba(252, 176, 69, 1) 100%); */
  background-image: url('../images/pictcover.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
}

.card-stack:nth-child(2) {
  top: 100px; /* (3 * 20px) + 40px */
  margin-left: 20px; /* 3 * 30px */
  /* background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(7, 57, 153, 1) 50%, rgba(3, 137, 206, 1) 76%, rgba(0, 212, 255, 1) 100%); */
  background-image: url('../images/apscover.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .card-stack:nth-child(1) {
    margin-bottom: 30px;
  }
  .card-stack:nth-child(2) {
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .card-stack:nth-child(3) {
    margin-bottom: 32px;
  }
}

.card-stack:nth-child(4) {
  top: 120px; /* (4 * 20px) + 40px */
  margin-left: 120px; /* 4 * 30px */
  margin-bottom: 116px; /* ((5-4) * 16px) + 100px */
  background-color: hsl(219, 55%, 44%); /* Random values: hue=219, saturation=55, lightness=44 */
}

.card-stack:nth-child(5) {
  top: 140px; /* (5 * 20px) + 40px */
  margin-left: 150px; /* 5 * 30px */
  margin-bottom: 100px; /* ((5-5) * 16px) + 100px */
  background-color: hsl(336, 33%, 75%); /* Random values: hue=336, saturation=33, lightness=75 */
}